.root {
  width: 400px;
  padding: 50px;
  border: 1px solid #dedede;
  margin: 50px auto;
}

.field {
  margin-bottom: 20px !important;
}

.title {
  text-align: center !important;
  font-weight: bold !important;
  margin-bottom: 30px !important;
}

.button_import {    
  &__login {
    background-color: rgb(76, 175, 175);  
    color: #262626;
    transition: .2s linear;
  }
  &__login:hover {
    color: #FFFFFF;
    background-color: rgb(32, 128, 128);
  }
}
