.root {
  width: 400px;
  padding: 50px;
  border: 1px solid #dedede;
  margin: 50px auto;
}

.field {
  margin-bottom: 20px !important;
}

.title {
  text-align: center !important;
  font-weight: bold !important;
  margin-bottom: 30px !important;
}

.avatar {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.button_import__reg {    
    background-color: rgb(76, 175, 175) !important;    
    color: #262626 !important;
    transition: .2s linear;
    font-weight: bold !important;  
}
.button_import__reg:hover {
    color: #FFFFFF !important;  
    background-color: rgb(32, 128, 128) !important;  
}
